
#sesion
{
    

    width: 200px;
    height: 150px;
    margin-top: 20px;
    margin-right: 0;
    border-radius: 5px;
    background-color: #fff;
    display: none;
    flex-direction: column;
}
#sesion form
{   
    margin-top: 10px;
    margin-left: 40px;
}
#sesion input
{
    margin-bottom: 20px;
}
#sesion a
{
    margin-left: 35px;
    margin-bottom: 0;
}

.boton02{
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #A8F0A8;
    color:#FFF;
    text-shadow: 2px 2px 3px #000;
   
}
.boton02 span{
    display: inline-block;
   
}

@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

#registro .boton02{
    -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}
input
{
    width: 120px;
    height: 20px;
}







#registro
{
    position: absolute;
    top: 40%;
    right: 20%;

    width: 300px;
    height: 300px;

    text-align: center;
}

#carrusel
{
    position: absolute;
    top: 100%;
    left: 50%;

    width: 600px;
    height: 400px;

    transform: translateX(-50%) translateY(0);
}

.box
{
    height: 300px;
    margin: 35px 35px 0 35px;

    background: blue;
}

@media screen and (max-width: 700px)
{
    #carrusel{
        width: 450px;
        height: 600px;
    }
   .box{
    height: 400px;
   }
}
