

body{
    margin: 0;
}

header{
    position: fixed;
    z-index: 1;

    width: 100%;
    height: 60px;

    background-color: #fff;
}

header > div{
    display: flex;

    min-width: 500px;
    height: 40px;
    margin: 10px;

    justify-content: space-between;
    
}

header > div h1{
    margin: 0;
    margin-left: 50px;
}
header > div div
{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
}

header > div div a
{
    margin-left: 100px;
}
  .boton02{
    text-transform: uppercase;
 }

.boton{   
    text-decoration: none;
    width: 50px;
    height: 50px;
    color:#FFF;
   
    text-align: center;
  
   
}


#contenido{
    display: flex;

    width: 100%;
    height: 1250px;

    background: url('../imagen/portada3.jpg') no-repeat fixed center ;
    background-size: cover;
}

footer{
    position: absolute;
    top: 1250px;

    width: 100%;
    height: 100px;

    background-color: #fff;
}
p,span{
    font-family: 'robotoregular';
}
h1{ 
    font-family: 'robotobold';
  
}
@media screen and (max-width: 700px){
   
}
