body
{
    margin: 0 auto;
   
    background: url('../media/imagen/portada3.jpg') no-repeat center center fixed ;
    background-size: cover;

}

header
{
    position: absolute;
    z-index: 1; 
    width: 100%;
    top:0;
  
   
    height: 60px;

    background-color: #fff;
    

}

header > div
{
    display: flex;

   
    height: 40px;
    margin: 10px;

    justify-content: space-between;
}

header > div h1
{
    margin: 0;
    margin-left: 50px;
}
header > div div
{
    display: flex;
    flex-direction: column;

    width: 200px;
    height: 300px;
}

header > div div a
{
    margin-left: 100px;
}
.boton02
{
    text-transform: uppercase;
}

.boton
{
    width: 50px;
    height: 50px;

    text-align: center;
    text-decoration: none;

    color: #fff;
}




footer
{
    position: relative;
    bottom: 0 ;

    width: 100%;
    height: 150px;

    background: url('../media/imagen/black.png') repeat-x;
}
p,
span
{
    font-family: 'robotoregular';
}
h1
{
    font-family: 'robotobold';
}
