@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b6kpfc');
  src:  url('fonts/icomoon.eot?b6kpfc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b6kpfc') format('truetype'),
    url('fonts/icomoon.woff?b6kpfc') format('woff'),
    url('fonts/icomoon.svg?b6kpfc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-montanas:before {
  font-size: 35px;
  content: "\e902";
  color:#FAAA63;
}
.icon-montana:before {
font-size: 35px;
  content: "\e903";
  color:#C2691A;
}
.icon-huellas-de-zapatos-humanos:before {
font-size: 35px;
  content: "\e904";
}
.icon-brisa:before {
font-size: 35px;
  content: "\e905";
}
.icon-flechas-1:before {
font-size: 35px;
  content: "\e906";
  color:#50DBEF;
}
.icon-flechas:before {
font-size: 35px;
  content: "\e907";
  color:#50DBEF;
}
.icon-medico-1:before {
font-size: 35px;
  content: "\e908";
  color: #FF5256;
}
.icon-medico:before {
font-size: 35px;
  content: "\e909";
  color: #FF5256;
}
.icon-fuego:before {
font-size: 35px;
  content: "\e90a";
  color:#FF3F12;
}
.icon-distancia-para-viajar-entre-dos-puntos:before {
font-size: 35px;
  content: "\e90b";
}
.icon-temporizador:before {
font-size: 35px;
  content: "\e90c";
}
.icon-velocimetro-1:before {
font-size: 35px;
  content: "\e90d";
  color:#990CEC;
}
.icon-velocimetro:before {
font-size: 35px;
  content: "\e90e";
  color: #BA58F4;
}
.icon-ritmo-1:before {
font-size: 35px;
  content: "\e90d";
  color:#21F500;
}
.icon-ritmo:before {
font-size: 35px;
  content: "\e90e";
  color:#91FA81;
}
.icon-water:before {
font-size: 35px;
  content: "\e901";
  color:#1942E9;
}
.icon-thermometer-half:before {
font-size: 35px;
  content: "\e90f";
  color:#FF0D00;
}
.icon-cloud-sun-rain:before {
font-size: 35px;
  content: "\e900";
}
.icon-user-circle-o:before {
font-size: 40px;
color:green;
  content: "\e91d";
}
.icon-user-circle:before {
font-size: 35px;
  content: "\e91e";
}
.icon-facebook2:before {
font-size: 20px;
  content: "\ea91";
}
.icon-instagram:before {
font-size: 20px;
  content: "\ea92";
}
.icon-twitter:before {

font-size: 20px;
  content: "\ea96";
}

